<% if (success1) { %>
    <div class="bg-green-100 border border-green-500 text-green-800 px-4 py-2 rounded-lg relative mx-auto mt-4 max-w-xs shadow-md transition-all transform hover:scale-105 duration-300" role="alert">
        <span class="block sm:inline text-sm"><%= success1 %></span>
        <button onclick="this.parentElement.style.display='none';" class="absolute top-0 right-0 px-2 py-1 text-green-800 hover:text-green-600 transition">
            <span class="text-lg">&times;</span>
        </button>
    </div>
<% } %>

<% if (error1) { %>
    <div class="bg-red-100 border border-red-500 text-red-800 px-4 py-2 rounded-lg relative mx-auto mt-4 max-w-xs shadow-md transition-all transform hover:scale-105 duration-300" role="alert">
        <span class="block sm:inline text-sm"><%= error1 %></span>
        <button onclick="this.parentElement.style.display='none';" class="absolute top-0 right-0 px-2 py-1 text-red-800 hover:text-red-600 transition">
            <span class="text-lg">&times;</span>
        </button>
    </div>
<% } %>
